
*{margin: 0;padding: 0;}

body{
    padding-left: 30px;
    margin-bottom: 20px;
}

.head{
    width: 100%;
    padding: 3% 5%;
    background: dark;
}
.rt{
    width: 50%;
    float: left;
}
.h4-text{
    color: cadetblue;
    font-size: 30px;
}

h1:not(.lf){
    
    color: red;
}